<div class="bg-blue9">
    <section class="sec">
    <div class="text">
        <h1>
            Welcome to our Online store
        </h1>
        <h2>Start your shopping journey</h2>
        <button routerLink="/products" type="button"> Browse our Products</button>
    </div>
        <div class="banner">
    
            <object class="svg" data="assets/svg/price.svg"></object>
        </div>
    </section>
    <section class="sec2">
    <div class="banner">
        <object class="svg" data="assets/svg/explore.svg"></object>
    </div>
    <div class="text">
        <h1 class="message"> Discover a world of endless possibilities</h1>
    </div>
    </section>
    <section class="sec2">
        <div class="text">
            <h1 class="message2">Shop with confidence and convenience</h1>
        </div>
        <div class="banner">
            <object class="svg" data="assets/svg/confidence.svg" ></object>
        </div>
    </section>
  
</div>

